In [7]:
x="This is \"Python\" programming"
print(x)

This is "Python" programming

In [22]:
y='He\'s a Doctor'
print(y)

He's a Doctor

In [23]:
z="Kevin\nBenoy"
print(z)

Kevin
Benoy

In [20]:
t="Hello\tworld"
print(t)

Hello	world

In [21]:
print("\"Kevin\" Benoy")

"Kevin" Benoy

In [29]:
x=['John','Mary','David','Adam']
print(x)
i=int(input("Enter an index number: "))
n=input("Enter a name to insert: ")
x.insert(i,n)
print(x)

['John', 'Mary', 'David', 'Adam']
Enter an index number: 3
Enter a name to insert: James
['John', 'Mary', 'David', 'James', 'Adam']

In [9]:
x=['John','Mary','David','Adam']
def kev():
  x=['John','Mary','David','Adam']
  i=int(input("Enter an index: "))
  n=input("Enter a name to insert: ")
  x.insert(i,n)
  print(x)
kev()

Enter an index: 2
Enter a name to insert: xvcxv
['John', 'Mary', 'xvcxv', 'David', 'Adam']

In [30]:
def sum(a,b):
  print(a+b)
def diff(a,b):
  print(a-b)
def prod(a,b):
  print(a*b)
def quot(a,b):
  print(a/b)

In [34]:
x=int(input("Enter a number: "))
y=int(input("Enter a number: "))
sum(x,y)
diff(x,y)
prod(x,y)
quot(x,y)

Enter a number: 3453
Enter a number: 32
3485
3421
110496
107.90625